@import url(./blocks/vendor/normalize.css);

@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__line/header__line.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__information/profile__information.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__button/add__button.css);
@import url(./blocks/profile/__button/__edit/edit__button.css);
@import url(./blocks/element/element.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__text/__text2/element__text2.css);
@import url(./blocks/element/__heart/element__heart.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/footer/footer.css);

@import url(./blocks/main-page/main-page.css);
@import url(./blocks/item/__form/__input/form__input.css);
@import url(./blocks/item/__form/item__form.css);
@import url(./blocks/item/__form/item__form-disable.css);
@import url(./blocks/item/__form/item__form-empty.css);
@import url(./blocks/item/__form/item__form-filled.css);
@import url(./blocks/campos/campos.css);
@import url(./blocks/botones/boton-crear.css);
@import url(./blocks/botones/boton-cerrar.css);

@import url(./blocks/elements/pop-up/pop-upI.css);
@import url(./blocks/elements/pop-up/pop-upI-empty.css);
@import url(./blocks/element/__heart/element__heart-activo.css);

@import url(./blocks/imagen/__grande/imagen__grande.css);
@import url(./blocks/imagen/__grande/imagen__grande.css);

@import url(./blocks/botones/boton-cerrar-imagen.css);



*{
     padding: 0;
     margin: 0;
     font-family:"Inter";
    }



    body{
        background-color: black;
      
    }

  

