.form__close-button {
  position: relative;
  top: 0px;
  left: 280px;
  cursor: pointer;
}



@media screen and (min-width: 320px) and (max-width: 768px) {
  .form__close-button{
    left: 250px;
    top: -50px;
  }
}
