.form__close-button {
  position: absolute;
  top: 179px;
  left: 1030px;
  cursor: pointer;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
  .form__close-button{
    left: 480px;
    top: 10px;
  }
}
