.profile {
  display: flex;
  margin-bottom: 100px;
  margin-right: 103px;
  width: 100%;
  gap: 20px;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}
