.profile{
 display: flex;
 margin-bottom: 100px;
 margin-right: 203px;
 width: 90%;
 gap: 40px ;
   
}
@media screen and (min-width: 320px) and (max-width: 768px){
    .profile{
       display: flex;
       
    
        
    }
}



