.profile__info {
  color: white;
  font-family: "Inter";
  font-weight: 500;
  cursor: pointer;
  margin-left: 50px;
  
}

#profile-profesion{
  text-align:justify;
  font-weight: 400;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile__info {
    overflow: hidden;
  }
}
