.element{
   width: 100%;
   position: relative;
   max-width: 282px;
   margin: auto;
   
}

@media screen and (min-width: 320px) and (max-width: 768px) {
   .element{
      width: 50%;
      margin-left: 50px;
   }
}

